@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #0a0a0a;
  color: white;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: #171717;
}
::-webkit-scrollbar-thumb {
  background: #4c1d95;
  border-radius: 4px;
}